<section class="hero is-primary is-large summaryheader">
  <div class="hero-body has-text-centered">

    <div class="container">
      <div class="card">
        <div class="card-header has-background-primary p-2"></div>
        <div class="card-content">
          <h1 class="title is-2 has-text-weight-bold has-text-black">MPS5101 Drug Website</h1>
          <h2 class="subtitle has-text-black">Overview</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul class="has-background-primary">
          <li class="is-active">
            <a href="/">Overview</a>
          </li>
          <li>
            <a href="disease.html">Disease and Target</a>
          </li>
          <li>
            <a href="hit.html">Hit to Lead</a>
          </li>
          <li>
            <a href="formulation.html">Formulation</a>
          </li>
          <li href="sustainability.html">
            <a>Sustainability</a>
          </li>
          <li href="future.html">
            <a>Next Steps</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</section>
